.notice.notice-vipps-login.notice-info {
    border-left-color: #FF5B24;
    min-height: 56px;
}
.notice.notice-vipps-login.notice-info > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.notice.notice-vipps-login.notice-info.notice-vipps-neg {
    border-color: #FF5B24 !important;
    background-color: #FF5B24 !important;
    color: white !important;
    min-height: 56px;
}
.notice.notice-vipps-login.notice-info.notice-vipps-neg img {
    max-height: 54px;
}
.notice.notice-vipps-login.notice-info.notice-vipps-neg a {
   color: white !important;
   text-decoration: none;
}
.notice.notice-vipps-login.notice-info.notice-vipps-neg button.notice-dismiss {
   color: white;
}
.notice.notice-vipps-login.notice-info.notice-vipps-neg button.notice-dismiss::before {
   color: white;
}

/* Gutenberg login block. LP 2026-02-04 */
.wp-block-login-with-vipps-login-with-vipps-button.continue-with-vipps-wrapper a.button.continue-with-vipps {
    border: 0 !important;
}
