/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-login-with-vipps-login-with-vipps-button {
	border: 1px dotted #f00;
}

.vipps-smile.vipps-component-icon {
    width: 24px;
}


.wp-block-login-with-vipps-login-with-vipps-button {
    margin:0;
    display:inline-block;
}


.wp-block-login-with-vipps-login-with-vipps-button span.continue-with-vipps-wrapper.inline { 
   margin-left:1px; 
   margin-right:1px
}
