.continue-with-vipps-wrapper a.button.continue-with-vipps.disabled vipps-mobilepay-button {
    opacity: 0.7;
}

.continue-with-vipps-wrapper a.button.continue-with-vipps {
    border: 0 !important;
}
