.wp-block-login-with-vipps-login-with-vipps-button .button.continue-with-vipps.disabled vipps-mobilepay-button {
    opacity: 0.7;
}
.wp-block-login-with-vipps-login-with-vipps-button .button.continue-with-vipps {
    background-color: transparent;
    border: transparent;
}
